/* Define a keyframe animation with name "example" */
@keyframes example {
  0% {
    background-color: red;
    top: 0;
    left: 0;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 0;
  }
  100% {
    background-color: yellow;
    left: 200px;
    top: 50px;
  }
}

div.animatethis {
  position: relative;
  width: 100px;
  height: 100px;
  background: red;

  /*** name of the keyframe set to use ***/
  /* animation-name: example; */

  /*** how long to play the animation for (seconds). Can use decimals. ***/
  /* animation-duration: 4s;  */

  /*** how long to wait before starting the animation ***/
  /* animation-delay: 2s; */

  /*** how many times to play the animation. Use infinite to play forever. ***/
  /* animation-iteration-count: 3; */

  /*** Which direction to play the animation in ***/
  /* animation-direction: alternate; */

  /*** Which timing function to use to alter the start and end speed ***/
  /* animation-timing-function: linear; */

  /*** Which styling to apply when the animation ends ***/
  /* animation-fill-mode: forwards; */

  /* The one-liner below is equivalent to all the commented code above */
  animation: example 4s linear 2s 3 alternate forwards;
}

/* Transitions */
.zoomin {
  padding: 1em 2em;
  font-size: larger;
  transform: scale(1);
  transition: transform 2s ease-in-out;
}
.zoomin:hover {
  transform: scale(2);
}
